<link href="//db.onlinewebfonts.com/c/ec9c69b803f20a95deb88c41b74e5a62?family=Ambroise" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="sale_offer_off_percentage_new_arrivals"> 
      <div class="bullhorn-section">
<a href="{% if customer %}/account{% else %}/account/register{% endif %}">
        <p>
          <span class="bullhorn-logo"><i class="fa fa-user"></i>
<!--             <i class="fa fa-bullhorn" aria-hidden="true"></i> -->
          </span>
        </p>   
          </a>
      </div>
    </div>
         
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
    dots:false,
    responsive:{
      0:{
        items:1
      },
      600:{
        items:1
      },
      1000:{
        items:5
      }
    }
  })
</script>

{% schema %}
{
  "name": "New Arrival Slider",
  "settings": [
    {
      "type": "header",
      "content": "Main Image"
    },
        {
          "type": "collection",
          "id": "Image_new_arrivals_url",
          "label": "Collection Link"
        },
        {
          "type": "image_picker",
          "id": "Image_new_arrivals",
          "label": "Add Image"
        },
        {
          "type": "collection",
          "id": "collection_new_arrivals_1",
          "label": "Add New Collection"
        }
  ],
  "presets": [
    {
      "name": "New-Slider",
      "category": "New Arrivals"
    }
  ]
}
{% endschema %}
