


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />


<style>

  .testimonials{
	position: relative;
	padding-top: 80px;
}
/* 	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: #ddd;
	} */
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev, 
  .owl-carousel button.owl-dot{
  	font-size: 18px;
  }
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 60%;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
	display: block;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded{
	text-align: -webkit-center;
}
  
  
  
  
  @media only screen and (max-width: 1440px){
  	.owl-carousel .owl-next {
    right: -50px;
	}
	.owl-carousel .owl-prev {
    left: -50px;
	}
  }
  
  
  @media only screen and (max-width: 1090px){
	.owl-carousel .owl-next {
    right: -40px;
	}
	.owl-carousel .owl-prev {
    left: -40px;
	}
	.owl-carousel .owl-next, .owl-carousel .owl-prev{
		top: 20%;
	}
} 
  
  
 @media only screen and (max-width: 799px){
	.owl-carousel .owl-next {
    right: -30px;
	}
	.owl-carousel .owl-prev {
    left: -30px;
	}
	.owl-carousel .owl-next, .owl-carousel .owl-prev{
		top: 20%;
	}
}
  
 @media only screen and (max-width: 450px){
	.owl-carousel .owl-next {
    right: -7px;
	}
	.owl-carousel .owl-prev {
    left: -7px;
	}
    .owl-carousel .owl-next, .owl-carousel .owl-prev{
		top: 30%;
	}
}
  
</style>

<section class="testimonials">
	<div class=" page-width">

      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">

            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{ 'Creative_kids_log.png' | asset_url }}">
              </div>
            </div>
            <!--END OF TESTIMONIAL 1 -->
            <!--TESTIMONIAL 2 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{ 'Creative_kids_log.png' | asset_url }}">
              </div>
            </div>
            <!--END OF TESTIMONIAL 2 -->
            <!--TESTIMONIAL 3 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{ 'Creative_kids_log.png' | asset_url }}">
              </div>
            </div>
            <!--END OF TESTIMONIAL 3 -->
            <!--TESTIMONIAL 4 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{ 'Creative_kids_log.png' | asset_url }}">
              </div>
            </div>
            <!--END OF TESTIMONIAL 4 -->
          </div>
        </div>
      </div>
      </div>
    </section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
	
<script type="text/javascript">
	jQuery(document).ready(function($) {
"use strict";
$('#customers-testimonials').owlCarousel( {
		loop: true,
		
		
		margin: 30,
		autoplay: true,
		dots:true,
    	nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 3
			},
			1024: {
				items: 4
			},
			1170: {
				items: 4
			}
		}
	});
});
</script>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
