.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 50rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1180px) {

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    left: 0;
    bottom: -35px;
    transform: translate(200%, -50%);
  }
}
@media screen and (max-width: 1180px) and (min-width: 750px) {

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    left: 0;
    bottom: -25px;
    transform: translate(calc(40vw - 50.5%));
  }
}
@media screen and (max-width: 750px) {

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    left: 0;
    bottom: -25px;
    transform: translate(calc(45vw - 50.5%));
  }
}

.newsletter-form__button {
  margin-left: 1.4rem;
}

@media screen and (max-width: 989px) {
  .newsletter-form__button {
    width: 100%;
    margin: 1.4rem 0 0 0;
  }
}
